* {
  margin:0;
}

body {
  min-width: 400px;
  background-color: #4f4b4b; 
}

li{
  margin-top: 2px;
  margin-bottom: 2px;
  list-style-type:none;
  padding: 15px;
  display: block;
  background-color: #676161;
}
a{
  text-decoration: none;
  color: #000000
}